---
title: Home
tags: nav
---

<div style="text-align: center">
  <p class="lead">
    A beautiful, customisable New Tab page for Firefox and Chrome.
  </p>

  <img src="/img/screenshot.png" alt="Tabliss Screenshot" class="screenshot" />

  <p>
    <a
      class="button lead"
      href="https://addons.mozilla.org/addon/tabliss?src=external-tabliss.io"
    >
      Get Tabliss for Firefox
    </a>

    <a
      class="button lead"
      href="https://chrome.google.com/webstore/detail/hipekcciheckooncpjeljhnekcoolahp"
    >
      Get Tabliss for Chrome
    </a>
  </p>

  <p><a href="https://web.tabliss.io/">Try the web version</a></p>
</div>
