---
layout: layout.njk
title: Home
tags: nav
---

<section class="splash">
  <div class="lead" style="text-align: center">
    <p>
      A beautiful, customisable New Tab page<br />for Firefox, Chrome, and
      Edge.
    </p>
    <p><strong>100% free.</strong> No subscriptions. No ads.</p>
    <p>
      <a
        class="install button firefox"
        href="https://addons.mozilla.org/addon/tabliss?utm_source=tabliss.io&utm_medium=website"
      >
        <svg class="icon"><use href="/icon.svg#plus-square" /></svg>
        Add to Firefox
      </a>
      <a
        class="install button chrome"
        href="https://chrome.google.com/webstore/detail/hipekcciheckooncpjeljhnekcoolahp"
      >
        <svg class="icon"><use href="/icon.svg#plus-square" /></svg>
        Add to Chrome
      </a>
      <a
        class="install button edge"
        href="https://chrome.google.com/webstore/detail/hipekcciheckooncpjeljhnekcoolahp"
      >
        <svg class="icon"><use href="/icon.svg#plus-square" /></svg>
        Add to Edge <small>via Chrome Web Store</small>
      </a>
      <br />
      <a
        class="try button button-link"
        href="https://web.tabliss.io/"
        target="_blank"
        style="font-size: 1rem"
      >
        Try web version
      </a>
    </p>
  </div>
  <div class="slider">
    <div class="frame"><div class="bar"></div></div>
    <div class="slides">
      <img
        src="/img/ss-1.webp"
        alt="Tabliss Screenshot #1"
        height="800"
        width="1280"
      />
      <img
        src="/img/ss-2.webp"
        alt="Tabliss Screenshot #2"
        height="800"
        width="1280"
      />
      <img
        src="/img/ss-3.webp"
        alt="Tabliss Screenshot #3"
        height="800"
        width="1280"
      />
    </div>
  </div>
</section>

<script>
  if (navigator.userAgent.includes("Firefox")) {
    document.querySelector(".chrome").style.display = "none";
    document.querySelector(".edge").style.display = "none";
  } else if (navigator.userAgent.includes("Edge")) {
    document.querySelector(".firefox").style.display = "none";
    document.querySelector(".chrome").style.display = "none";
  } else {
    document.querySelector(".firefox").style.display = "none";
    document.querySelector(".edge").style.display = "none";
  }
</script>

<script>
  let i = 0;
  const slides = document.querySelector(".slides");
  const total = slides.children.length;
  setInterval(() => {
    i = (i + 1) % total;
    slides.scrollTo(i * slides.offsetWidth, 0);
  }, 3000);
</script>
