---
title: Home
tags: nav
---

<div style="text-align: center">
  <p class="lead">
    A beautiful, customisable New Tab page for Firefox and Chrome.
    <br />
    <strong>100%</strong> free and open source.
  </p>
  <p class="lead">
    <a class="button" href="https://web.tabliss.io/" target="_blank">
      Try the web version
    </a>
  </p>

  <img
    src="/img/screenshot.png"
    alt="Tabliss Screenshot"
    class="screenshot"
    height="800"
    width="1280"
  />

  <p>
    <a
      class="button lead"
      href="https://addons.mozilla.org/addon/tabliss?utm_source=tabliss.io&utm_medium=website"
    >
      Get Tabliss for Firefox
    </a>

    <a
      class="button lead"
      href="https://chrome.google.com/webstore/detail/hipekcciheckooncpjeljhnekcoolahp"
    >
      Get Tabliss for Chrome
    </a>
  </p>
</div>
