---
layout: layout.njk
title: Home
tags: nav
---

<section class="splash">
  <div class="lead">
    <p>
      A beautiful, customisable New Tab page<br />for Firefox, Chrome, and Edge.
    </p>
    <p><strong>100% free.</strong> No subscriptions. No ads.</p>
    <p>
      <a
        class="install button firefox"
        href="https://addons.mozilla.org/addon/tabliss?utm_source=tabliss.io&utm_medium=website"
      >
        <svg class="icon"><use href="/icon.svg#plus" /></svg>
        Add to Firefox
      </a>
      <a
        class="install button chrome"
        href="https://chrome.google.com/webstore/detail/hipekcciheckooncpjeljhnekcoolahp"
      >
        <svg class="icon"><use href="/icon.svg#chrome" /></svg>
        Add to Chrome
      </a>
      <a
        class="install button edge"
        href="https://microsoftedge.microsoft.com/addons/detail/lklaendlmlfkaabeleddanafeinnenih"
      >
        <svg class="icon"><use href="/icon.svg#plus" /></svg>
        Add to Microsoft Edge
      </a>
      <br />
      <a
        class="try button button-link"
        href="https://web.tabliss.io/"
        target="_blank"
        style="font-size: 1rem"
      >
        Try web version
      </a>
    </p>
  </div>
  <div class="slider">
    <div class="frame"><div class="bar"></div></div>
    <div class="slides">
      <img
        src="/img/ss-1.webp"
        alt="Tabliss Screenshot #1"
        height="800"
        width="1280"
      />
      <img
        src="/img/ss-2.webp"
        alt="Tabliss Screenshot #2"
        height="800"
        width="1280"
      />
      <img
        src="/img/ss-3.webp"
        alt="Tabliss Screenshot #3"
        height="800"
        width="1280"
      />
    </div>
  </div>
</section>

<section style="text-align: center; margin: var(--spacing-xl) auto">
  <h1 style="color: rgb(var(--accent))">Features</h1>
</section>

<section>
  <div class="feature">
    <h2>
      <svg class="icon"><use href="/icon.svg#settings" /></svg>
      Deep customisation
    </h2>
    <p class="lead">
      Transform your New Tab page to something beautiful and yours. Tabliss
      offers hundreds of customisation options to create a New Tab page unique
      to you.
    </p>
  </div>
  <div class="feature">
    <h2>
      <svg class="icon"><use href="/icon.svg#calendar" /></svg>
      Tonnes of powerful widgets
    </h2>
    <p class="lead">
      Tabliss comes with tonnes of useful widgets to help you with everything
      from productivity to inspiration, they can even check your live NBA
      scores.
    </p>
    <ul>
      <li>Real-time weather conditions</li>
      <li>Clock in analogue, digital, or quotes from literature</li>
      <li>Greetings that change over the course of the day</li>
      <li>Inspiring daily quotes (or not inspiring, there are categories)</li>
      <li>Todo lists to keep track of your tasks</li>
      <li>Quick links/speed dial for your favourite websites</li>
      <li>Search box, work hours, and many more…</li>
    </ul>
  </div>
  <div class="feature">
    <h2>
      <svg class="icon"><use href="/icon.svg#image" /></svg>
      Millions of beautiful backgrounds
    </h2>
    <p class="lead">
      Tabliss backgrounds are powered by the huge libraries of Unsplash and
      GIPHY, offering millions of backgrounds with powerful search options. Or
      just use your own.
    </p>
    <ul>
      <li>Millions of photos with Unsplash</li>
      <li>Millions of animated gifs with GIPHY</li>
      <li>Solid colours and colour gradients</li>
      <li>Your own pictures</li>
    </ul>
  </div>
  <div class="feature">
    <h2>
      <svg class="icon"><use href="/icon.svg#gift" /></svg>
      Free, completely free
    </h2>
    <p class="lead">
      Tabliss is 100% free. No ads. No subscriptions. No data mining.
    </p>
    <p>
      Tabliss is open source, built by volunteers and users with the goal of
      making the best New Tab page there is. You won't find any paywalls here.
    </p>
  </div>
  <div class="feature">
    <h2>
      <svg class="icon"><use href="/icon.svg#globe" /></svg>
      Translated to over 40 languages
    </h2>
    <p>
      Tabliss greets you in your language. Thanks to the wonderful community,
      the Tabliss dashboard has been translated to over 40 languages.
    </p>
  </div>
</section>

<script>
  if (navigator.userAgent.includes("Firefox")) {
    document.querySelector(".chrome").style.display = "none";
    document.querySelector(".edge").style.display = "none";
  } else if (navigator.userAgent.includes("Edg")) {
    document.querySelector(".firefox").style.display = "none";
    document.querySelector(".chrome").style.display = "none";
  } else {
    document.querySelector(".firefox").style.display = "none";
    document.querySelector(".edge").style.display = "none";
  }
</script>

<script>
  let i = 0;
  const slides = document.querySelector(".slides");
  const total = slides.children.length;
  setInterval(() => {
    i = (i + 1) % total;
    slides.scrollTo(i * slides.offsetWidth, 0);
  }, 3000);
</script>
