:root {
  --primary: #3498db;
  --text: #222;
  --grey: #ecf0f1;
}

html {
  font-size: 15px;
}

a {
  color: var(--primary);
}

header,
section,
footer {
  padding: 40px 20px;
}

header {
  border-bottom: 1px solid var(--grey);
  display: grid;
  grid-gap: 40px;
  justify-items: center;
}

svg.logo {
  fill: var(--primary);
  height: 60px;
  width: auto;
}

nav {
  font-size: 18px;
  font-weight: 600;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 0 auto;
  max-width: 750px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

p,
ol,
li {
  color: var(--text);
}

p.lead {
  font-size: 18px;
}

a.button {
  background: var(--primary);
  border-radius: 25px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

a.button.lead {
  font-size: 18px;
  font-weight: 600;
}

footer {
  border-top: 1px solid var(--grey);
  text-align: center;
}
