<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A beautiful and customisable New Tab page for Firefox, Chrome, and Edge. 100% free. No subscriptions. No ads."
    />
    <meta property="og:image" content="/img/share.webp" />
    <title>{{ title }} &middot; Tabliss</title>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/sanitize.css/typography.css"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
    <link href="/favicon.png" rel="shortcut icon" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8FJ771VH09"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-8FJ771VH09");
    </script>
  </head>
  <body>
    <header>
      <img src="/logo.svg" class="logo" inline />
      <nav>
        <ul>
          {% for page in search.pages("nav") %}
          <li>
            <a href="{{ page.data.url }}">{{ page.data.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    {{ content | safe }}
    <footer>
      <p>
        <a href="https://twitter.com/tabliss">Twitter</a> &middot;
        <a href="https://github.com/joelshepherd/tabliss">GitHub</a> &middot;
        <a href="{{ '~/privacy.md' | url }}">Privacy</a>
      </p>
      <p>&copy; 2022</p>
    </footer>
  </body>
</html>
