<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if lead %}
    <meta name="description" content="{{ lead }}" />
    {% else %}
    <meta
      name="description"
      content="A beautiful and customisable New Tab page for Firefox, Chrome, and Edge. 100% free. No subscriptions. No ads."
    />
    {% endif %}
    <meta property="og:image" content="/img/share.webp" />
    {% if title === 'Home' %}
    <title>
      Tabliss &middot; A beautiful New Tab page for Chrome, Firefox and Edge
    </title>
    {% else %}
    <title>{{ title }} &middot; Tabliss</title>
    {% endif %}
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/sanitize.css/typography.css"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
    <link href="/favicon.png" rel="shortcut icon" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8FJ771VH09"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-8FJ771VH09");
    </script>
  </head>
  <body>
    <header>
      <a href="/" title="Return home">
        <img src="/logo.svg" class="logo" inline />
      </a>
      <nav>
        <ul>
          <li><a href="{{ '~/index.njk' | url }}">Home</a></li>
          <li><a href="{{ '~/posts.njk' | url }}">Updates</a></li>
          <li><a href="{{ '~/support.md' | url }}">Support</a></li>
          <li>
            <a
              href="https://twitter.com/tabliss"
              target="_blank"
              title="Follow us on Twitter for updates"
            >
              <svg class="icon"><use href="/icon.svg#twitter" /></svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {{ content | safe }}
    <section class="cta">
      <h2>Add Tabliss to your browser</h2>
      <p style="display: grid; grid-template-columns: repeat(3, 1fr)">
        <a
          class="install button firefox"
          href="https://addons.mozilla.org/addon/tabliss?utm_source=tabliss.io&utm_medium=website"
        >
          <svg class="icon"><use href="/icon.svg#plus-circle" /></svg>
          Firefox
        </a>
        <a
          class="install button chrome"
          href="https://chrome.google.com/webstore/detail/hipekcciheckooncpjeljhnekcoolahp"
        >
          <svg class="icon"><use href="/icon.svg#plus-circle" /></svg>
          Chrome
        </a>
        <a
          class="install button edge"
          href="https://microsoftedge.microsoft.com/addons/detail/lklaendlmlfkaabeleddanafeinnenih"
        >
          <svg class="icon"><use href="/icon.svg#plus-circle" /></svg>
          Microsoft Edge
        </a>
      </p>
    </section>
    <footer>
      <p>
        <a href="https://twitter.com/tabliss">Twitter</a> &middot;
        <a href="https://github.com/joelshepherd/tabliss">GitHub</a> &middot;
        <a href="{{ '~/privacy.md' | url }}">Privacy</a> &middot;
        <a href="{{ '~/support.md' | url }}">Support</a>
      </p>
      <p>Greeting nearly <strong>100,000</strong> users every day.</p>
      <p>&copy; 2022</p>
    </footer>
  </body>
</html>
